.boxHeader
{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
}

.logo
{
    width: 40%;
    height: 150px;
    background-image: url(../Imagem/logo.png);
    margin: 4%;
    background-repeat: no-repeat;
}

.boxHeader .boxicone
{
}

.boxicone .boxAdmLogin
{
    width: 80px;
    height: 50px;
    margin-left: 650px;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
}

.boxAdmLogin a
{
    font-size: 16px;
    color: green;
    cursor: pointer;
}

.boxAdmLogin a:hover
{
    color: rgb(3, 44, 3);
}

.blocoNav
{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}

.blocoOpcao
{
    width: 90px;
    height: 90px;
    margin: 10px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}

.iconeCLiente
{
    width: 60px;
    height: 60px;
    background-image: url(../Imagem/cliente.png);
    margin: 0 auto;
}

.iconeProdutos
{
    width: 60px;
    height: 60px;
    background-image: url(../Imagem/estoque.png);
    margin: 0 auto;
}
.iconeVenda
{
    width: 60px;
    height: 60px;
    background-image: url(../Imagem/venda.png);
    margin: 0 auto;
}
.iconeLogistica
{
    width: 60px;
    height: 60px;
    background-image: url(../Imagem/logistica.png);
    margin: 0 auto;
}

.iconeHome
{
    width: 60px;
    height: 60px;
    background-image: url(../Imagem/home.png);
    margin: 0 auto;
}

.iconecaixa
{
    width: 60px;
    height: 60px;
    background-image: url(../Imagem/caixa.png);
    margin: 0 auto;
}
.iconeadm
{
    width: 60px;
    height: 60px;
    background-image: url(../Imagem/adm.png);
    margin: 0 auto;
}
a
{
    font-size: 14px;
    text-decoration: none;
    color: #000000;
}

a:hover
{
    color: #243a69;
}

@media only screen and (min-width: 320px) and (max-width: 768px)
{

    .boxHeader
{
    width: 100%;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}

.logo
{
    width: 100%;
    height: 150px;
    background-image: url(../Imagem/logo.png);
    margin: 2%;
    background-repeat: no-repeat;
}
    
.blocoNav
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.blocoOpcao
{
    width: 90px;
    height: 90px;
    margin: 5px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}

.iconeCLiente
{
    width: 60px;
    height: 60px;
    background-image: url(../Imagem/cliente.png);
    margin: 0 auto;
}

.iconeProdutos
{
    width: 60px;
    height: 60px;
    background-image: url(../Imagem/estoque.png);
    margin: 0 auto;
}

.iconeHome
{
    width: 60px;
    height: 60px;
    background-image: url(../Imagem/home.png);
    margin: 0 auto;
}

.iconecaixa
{
    width: 60px;
    height: 60px;
    background-image: url(../Imagem/caixa.png);
    margin: 0 auto;
}
.iconeadm
{
    width: 60px;
    height: 60px;
    background-image: url(../Imagem/adm.png);
    margin: 0 auto;
}
a
{
    font-size: 14px;
    text-decoration: none;
    color: #050505;
}
}