.inputPesquisa
{
    width: 160px;
    height: 20px;
}

.trDestaque
{
    
}

.addItemBlocoForm
{
    width:40%;
    height: auto;
}

.addItemBlocoForm .addItemBlocoCampoPesquisa
{
    width: 100%;
    height: 100px;
}

.addItemBlocoForm .addItemBlocoformPagina
{
    width: 100%;
    height: 200px;
}



.addItemBlocoRetornoEstoque
{
    width:55%;
    margin: 2,5%;
    height: auto;
}