.opcaoNavAdm
{
    width: 100%;
    height: auto;
}

.opcaoNavAdm a
{
    margin-top: 0px;
    margin-bottom: 2px;
}

.opcaoNavAdm .title
{
    text-transform: uppercase;
    font-size: 15px;
    font-style: oblique;
    font-weight: 600;
    margin-bottom: 15px;
    width: 100%;
    height: 20px;
    background-color: #bfecff
}

.opcaoNavAdm .subTitle
{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    width: 90%;
    margin-left: 10%;
    height: 20px;
    background-color: #004766;
    color: white;
}

.opcaoNavAdm .subTitle:hover
{
    background-color: #663000
}