.homeRetornoTabela
{
    width: 70%;
    height: auto;
}

.homeRetornoTabela a
{
    cursor: pointer;
    font-size: 14px;
    color: rgb(44, 94, 44);
}

.homeRetornoTabela a:hover
{
    color: rgb(13, 98, 209);
}


.homeRetornoTabela button
{
    width: 120px;
    height: 20px;
}

.homeRetornoTabela .homeBlocoAdicionar
{
    width: auto;
    height: auto;
}

.homeRetornoTabela .adicionarItem
{
    width: 24px;
    height: 25px;
    background-image: url(../../Imagem/adicionar.png);
}

.homeRetornoDetalhes
{
    width: 25%;
    margin: 2,5%;
    height: auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    overflow: auto;
}

.homeRetornoDetalhes .BoxRetornoCupomFiscalPrint
{
    width: 100%;
    height: auto;
}

.BoxRetornoCupomFiscal .RetornoCupomFiscalBox
{
    width: 100%;
    height: auto;
}

.BoxRetornoCupomFiscal .RetornoCupomFiscalseparador
{
    width: 100%;
    height: auto;
    border: 1px solid rgb(13, 14, 13);
}