.conteudoLocalizacao
{
    width: 80%;
    height: auto;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 5%;
}

.conteudoLocalizacao .boxButton
{
    width: 100%;
    height: auto;
    cursor: pointer;
}

.conteudoLocalizacao .boxConteudo
{
    width: 100%;
    height: auto;
}

.btn-outline-secondary {
    color: #3F7D58;
    border-color: #3F7D58;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #3F7D58;
    border-color: #3F7D58;
}